<html ng-app='weatherApp'>
<head> 
    <title>People</title>
    <style>
        td {
            width: 40px;
            height: 40px;
            border: 1px solid black;
        }
        table {
            border: 1px solid black;
            border-spacing: 0;
        }
    </style>
    <script type = 'module'>
        import 'https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js'
        import './components.js'
    </script>
</head>
<body ng-controller="WeatherController">
    <div id='base'>
        <select ng-model="model.place" ng-change="changePlace(model.place)">
            <option value="Horsens">Horsens</option>
            <option value="Aarhus">Aarhus</option>
            <option value="Copenhagen">Copenhagen</option>
        </select>

        <button ng-click="reload()">Reload</button>

        <h1>Latest weather measurements</h1>
        <weather-measurements-table id='weather'  attribute="data">
        </weather-measurements-table>


        <h1>Hourly predictions for the next 24 hours</h1>
        <hourly-prediction-table>
        </hourly-prediction-table>


    </div>
</body>
</html>
